@font-face {
  font-family: 'oregon-trail';
  src: url('assets/here_lies.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('assets/here_lies.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

#loginScreen {
  border:dashed;
  z-index:20;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 640px;
  height: 140px;
  background-color:black;
}

.login {
  padding:4px;
  margin:4px;
}

#control {
  position:absolute;
  background-color:black;
  width:auto;
  height:200px;
  font-family: oregon-trail;
  color: white;
}
