
/*import oregon trail fonts*/
@font-face {
  font-family: 'oregon-trail';
  src: url('assets/here_lies.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('assets/here_lies.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: white;

  /*font globally*/
  font-family: oregon-trail;
  font-size: 10px;
  color: white;
}
#bg-img {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#old-map-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.hidden{
  position: absolute;
  top: -1000px;
  visibility: hidden;
}

#loginBox {
  /*positioning for camera box */
  position: absolute;
  top: 10px;
  left: 50%;
  width: 640px;
  height: 680px;
  transform: translate(-50%, 0);
  border-width: 5px;
  border-color: yellow;
  border-style: solid;
}

#canvas {
  /*positioning for camera box */
  position: absolute;
  top: 0px;
  left: 0px;
}

#loginScreen{
  position: absolute;
  top: 480px;
  left:0px;
  width: 640px;
  height: 200px;
  background: grey;
  color: black;
}

#postcard {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 600px;
  height: 500px;
  overflow: hidden;
  z-index: 999999;
  border-width: 5px;
  border-color: yellow;
  border-style: solid;

}

.postcard {
  position: absolute;
  top:0px;
  left:0px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:yellow;
  padding:0px;
  font-size: 14px;

  object-fit: cover;
  width: 600px;
  height: 450px;
}

.postcardButton {
  position: absolute;
  top:10px;
  right:10px;
}

#postcardTextDiv {
  position: absolute;
  top:420px;
  left: 0px;
  width: 600px;
  height: 80px;
  background: grey;
}

#profileImage{
  top:180px;
  left:0px;
  width: 320px;
  height: 240px;
}

#bottomBar {
  /*positioning for bottom bar*/
  position:absolute;
  background-color:black;
  width:auto;
}

.loginControls {
  padding:4px;
  margin:4px;
  color:black;
  font-family: oregon-trail;
  font-size:10px;
}

.gameControls {
  padding:4px;
  margin:4px;
  color:white;
  font-family: oregon-trail;
  font-size:10px;
}

#controlInput {
  color: black;
}




/* copied from: https://codepen.io/imprakash/pen/GgNMXO*/
